@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

.font-text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.font-prata {
  font-family: "Prata", serif;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.font-title-home {
  font-family: "Montserrat";
}

/* CALENDAR */
.pointer {
  pointer-events: none;
}

/* SCROLLBAR */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #ecde9d;
}

/* RESPONSIVE */

@media only screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }

  .day-picker-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-desktop-admin {
    display: none;
  }

  .day-picker-desktop {
    display: none;
  }
}

