@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

.font-text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.font-prata {
  font-family: "Prata", serif;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-title-home {
  font-family: "Montserrat";
}

.custom-placeholder {
  font-size: 10px;
}

/* CALENDAR */
.pointer {
  pointer-events: none;
}
/* 
/* global.css ou votre fichier CSS principal */
.rdp-root {
  --rdp-day-width: 5rem; /* Réduit la largeur des cellules de jour */
  --rdp-day-button-width: 2rem; /* Réduit la largeur des boutons des jours */
  --rdp-day-height: 5rem; /* Réduit la hauteur des cellules de jour */
}

/* SCROLLBAR */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

.customized-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #ecde9d;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #ecde9d;
  cursor: pointer;
}

/* RESPONSIVE */

@media only screen and (max-width: 767px) {
  .image-home-desk {
    display: none;
  }
  .image-home {
    display: flex;
  }

  .prices-section {
    display: none;
  }
  .day-picker-mobile {
    display: flex;
  }
  .day-picker-desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* .prices-section-mobile {
    display: none;
  } */
  .custom-placeholder {
    font-size: 14px;
  }
  .day-picker-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-desktop-admin {
    display: none;
  }

  .image-home-desk {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }

  .image-home-desk {
    display: flex;
  }
  .home-title {
    display: none;
  }
  .image-home {
    display: none;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 12 76% 61%;
    --chart-7: 173 58% 39%;
    --chart-8: 197 37% 24%;
    --chart-9: 43 74% 66%;
    --chart-10: 27 87% 67%;
    --chart-11: 27 87% 67%;
    --chart-12: 12 76% 61%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

