@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

.font-text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.font-prata {
  font-family: "Prata", serif;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.font-title-home {
  font-family: "Montserrat";
}

/* RESPONSIVE */

@media only screen and (min-width: 1025px) {
  .navbar-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-desktop {
    display: none;
  }
}

/* Library Embla Carousel */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla_viewport {
  overflow: hidden;
}
.embla_container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla_slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla_slide_img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla_slide_img {
  user-select: none;
}

