/* Library Embla Carousel */
.embla {
  width: 38rem;
}

.embla_activity {
  width: 80rem;
  background-color: #f8f8f9;
  padding: 20px 50px;
}
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  /* backface-visibility: hidden; */
  display: flex;
  touch-action: pan-y pinch-zoom;

  /* margin-left: calc(var(--slide-spacing) * -1); */
}

.embla__container_activity {
  /* backface-visibility: hidden; */
  display: flex;
  justify-content: center;
  touch-action: pan-y pinch-zoom;

  /* margin-left: calc(var(--slide-spacing) * -1); */
}

.embla__slide {
  /* flex: 0 0 var(--slide-size); */
  min-width: 50rem;

  /* padding-left: var(--slide-spacing); */
}

.embla__slide_activity {
  /* flex: 0 0 var(--slide-size); */
  min-width: 18rem;

  /* padding-left: var(--slide-spacing); */
}

.embla__slide__image {
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

